BraileCal/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="calculateCircumference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateCircumferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculateCircumferenceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateTrianglePerimeter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="side1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="side2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="side3" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateTrianglePerimeterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculateTrianglePerimeterResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateRectanglePerimeter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="breadth" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateRectanglePerimeterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculateRectanglePerimeterResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="calculateCircumferenceSoapIn">
    <wsdl:part name="parameters" element="tns:calculateCircumference" />
  </wsdl:message>
  <wsdl:message name="calculateCircumferenceSoapOut">
    <wsdl:part name="parameters" element="tns:calculateCircumferenceResponse" />
  </wsdl:message>
  <wsdl:message name="calculateTrianglePerimeterSoapIn">
    <wsdl:part name="parameters" element="tns:calculateTrianglePerimeter" />
  </wsdl:message>
  <wsdl:message name="calculateTrianglePerimeterSoapOut">
    <wsdl:part name="parameters" element="tns:calculateTrianglePerimeterResponse" />
  </wsdl:message>
  <wsdl:message name="calculateRectanglePerimeterSoapIn">
    <wsdl:part name="parameters" element="tns:calculateRectanglePerimeter" />
  </wsdl:message>
  <wsdl:message name="calculateRectanglePerimeterSoapOut">
    <wsdl:part name="parameters" element="tns:calculateRectanglePerimeterResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="calculateCircumference">
      <wsdl:input message="tns:calculateCircumferenceSoapIn" />
      <wsdl:output message="tns:calculateCircumferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculateTrianglePerimeter">
      <wsdl:input message="tns:calculateTrianglePerimeterSoapIn" />
      <wsdl:output message="tns:calculateTrianglePerimeterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculateRectanglePerimeter">
      <wsdl:input message="tns:calculateRectanglePerimeterSoapIn" />
      <wsdl:output message="tns:calculateRectanglePerimeterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculateCircumference">
      <soap:operation soapAction="http://tempuri.org/calculateCircumference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateTrianglePerimeter">
      <soap:operation soapAction="http://tempuri.org/calculateTrianglePerimeter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateRectanglePerimeter">
      <soap:operation soapAction="http://tempuri.org/calculateRectanglePerimeter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculateCircumference">
      <soap12:operation soapAction="http://tempuri.org/calculateCircumference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateTrianglePerimeter">
      <soap12:operation soapAction="http://tempuri.org/calculateTrianglePerimeter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateRectanglePerimeter">
      <soap12:operation soapAction="http://tempuri.org/calculateRectanglePerimeter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44313/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44313/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>